
<% include ../partials/style %>
<div class="hello1" >
<p class="hello"></p>
	</div>
	<div class = "razmermenu" >
	    <a class = "razmermenu1" href="http://localhost:5000/">Фильмы</a>
		<a class = "razmermenu1" href="http://localhost:5000/mediums/" ">Носители</a>
		<a class = "razmermenu1" href="http://localhost:5000/filmsMediums/" style="font-size: 12px;"">Вот то где вот фильмы с носителями</a>
		<a class = "razmermenu1" href="#">Menu3</a>
		<a class = "razmermenu1" href="#">Menu4</a>
	</div>
</body>
</html>