
<% include ../partials/style %>
<body >
<div class="hello1" >
<p class="hello"></p>
	</div>
	
	<div class = "razmermenu" >
		<a href="http://localhost:5000/"> <img src='/images/logo.jpg'></a>
	    <a class = "razmermenu1" href="http://localhost:5000/">Фильмы</a>
		<a class = "razmermenu1" href="http://localhost:5000/mediums/" ">Носители</a>
		<a class = "razmermenu1" href="http://localhost:5000/filmsMediums/" ">Фильмы на носителях</a>
		<a class = "razmermenu1" href="http://localhost:5000/clients/">Клиенты</a>
		<a class = "razmermenu1" href="http://localhost:5000/cards">Карты</a>
		<a class = "razmermenu1" href="http://localhost:5000/rentalaccounting">Выдача</a>
</div>

</body>
</html>