<% include ../partials/header %>
<% include ../partials/style %>
<div class="hello1" >
<p class="hello"></p>
	</div>
	<div class = "razmermenu" >
		<a class = "razmermenu1" href="#">Menu1</a>
		<a class = "razmermenu1" href="#">Menu2</a>
		<a class = "razmermenu1" href="#">Menu3</a>
		<a class = "razmermenu1" href="#">Menu4</a>
	</div>
</body>
</html>